.section
  .field= builder.text_field :title, placeholder: "Title"
  .field= builder.text_field :url, placeholder: "URL"
  .field= builder.text_field :site, placeholder: "Site"
  .field= builder.text_area :content, placeholder: "Content"
  =builder.hidden_field :_destroy, class: 'destroy_hidden'
  =submit_tag "Update", class: 'update'
  =submit_tag "Destroy", class: 'destroy'
